<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#/about">О кафедре</a></li>
                <li role="presentation"><a href="#/contact">Контакты</a></li>
                <li role="presentation"><a href="#/user/enrollees">All enrollees</a></li>
                <li role="presentation"><a href="/test">Test </a></li>
                <li role="presentation"><a href="#/login">Login</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">СевГУ - кафедра ИТиКС</h3>
    </div>

    <div class="jumbotron">
        <h1>Зарегистрируйся сейчас!</h1>
        <p class="lead">Заполни форму и отправь свои данные для поступления в СевГУ на кафедру информационных технологий и компьютерных систем. После заполнения данных прийди в университет
            с оригиналами документов и поставь подпись в заявлении для поступления. </p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
</div> <!-- /container -->


